/* Regole generali di pagina */

/* Regole header */
header {
    background-color: #4ea1ff;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: 230px;
    height: 60px;
}

header img {
    width: 100px;
    margin-top:25px;
}


/* Regole contenuto principale */
#titolo {
   color: #55b0dd;
}

.container-titolo p {
    color: #8f8f8f;
}